---
import s1305 from "../../../../assets/Productos/microlaminas/s1305.png";
import s1310 from "../../../../assets/Productos/microlaminas/s1310.png";
import s1320 from "../../../../assets/Productos/microlaminas/s1320.png";
import s1330 from "../../../../assets/Productos/microlaminas/s1330.png";
import s1350 from "../../../../assets/Productos/microlaminas/s1350.png";
import s1360 from "../../../../assets/Productos/microlaminas/s1360.png";
import Layout from "../../../../layouts/Layout.astro";

// Array de productos
const productos = [
  { id: 1, nombre: "S1305", descripcion: "Corte transversal con pinza", imagen: s1305.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Manijas/Pinzas%20S1305" },
  { id: 2, nombre: "S1310", descripcion: "Mango 10cm", imagen: s1310.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Manijas/Pinzas%20S1310" },
  { id: 3, nombre: "S1320", descripcion: "Mango 15cm", imagen: s1320.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Manijas/Pinzas%20S1320" },
  { id: 4, nombre: "S1330", descripcion: "Mango hexagonal de 10 cm", imagen: s1330.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Manijas/Pinzas%20S1330" },
  { id: 5, nombre: "S1350", descripcion: "Mango 13cm", imagen: s1350.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Manijas/Pinzas%20S1350" },
  { id: 6, nombre: "S1360", descripcion: "Mango de 13 cm para trabajo pesado", imagen: s1360.src, enlace: "https://wa.me/51920341943?text=Hola,%20me%20puede%20brindar%20más%20información%20sobre%20Manijas/Pinzas%20S1360" }
];
---

<Layout title="Micro Láminas">
  <section class="h-full flex flex-col items-center lg:gap-8 gap-6 w-full bg-[#001037] border-t border-[#282828] lg:py-16 py-8">
    <h2 class="lg:text-5xl 2xl:text-7xl text-3xl border-b text-[#fff] w-[80%] text-center">Manijas y Pinzas</h2>

    <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 lg:py-10 lg:w-[80%] w-[90%]">
        <!-- Bucle Astro para productos -->
        {productos.map((producto) => (
          <div class="flex flex-col text-[#00c1af] w-full">
            <a href={producto.enlace} target="_blank" class="w-full flex justify-center transition-transform duration-300 ease-in-out transform hover:scale-105">
              <img src={producto.imagen} alt={producto.nombre} class="rounded-lg"/>
            </a>
            <div class="flex justify-center flex-col py-4 w-full items-center">
              <h4 class="lg:text-xl 2xl:text-3xl text-lg font-bold w-[80%] text-center">{producto.nombre}</h4>
              <span class="text-[#adadad] text-base w-[80%]">{producto.descripcion}</span>
            </div>
          </div>
        ))}
      </div>
      
  </section>
</Layout>
