---
import Layout from "../../../../../layouts/Layout.astro";
import { restCementada } from "../restauracion-cementada/restauracionCData.astro";
import pilaresAngulares from "../../../../../assets/Productos/implantes/accesoriosP/pilaresAngulares.png";
import pilaresAngularesA from "../../../../../assets/Productos/implantes/accesoriosP/pilaresAngularesA.png";
import pilaresRectos from "../../../../../assets/Productos/implantes/accesoriosP/pilaresRectos.png";
---

<Layout title="Restauración Sobredentadura - Accesorios Protésicos - Dait Import">
    <section class="w-full flex flex-col items-center py-8 px-4 text-white bg-[#001037]">
        <div class="w-full text-3xl border-b text-center py-2">
            <h2>Restauración Cementada</h2>
        </div>
        <div class="flex flex-wrap lg:w-[90%] w-full justify-center lg:gap-12 gap-4 py-8">
            <!-- Primera imagen sin efecto de hover -->
            <a href="/productos/sistema-implantes/accesorios-p/restauracion-cementada/pilares-angulares" class="lg:w-[20%] w-[45%] transition-transform duration-300 ease-in-out transform hover:scale-105 text-[#001037] relative">
                <img src={pilaresAngulares.src} alt="" class="rounded w-full h-auto" />
                <span class="absolute lg:bottom-3 bottom-0 left-0 w-full text-[#000] text-center lg:text-xl text-lg px-2 leading-none">Pilares Angulares</span>
            </a>
            
            <!-- Segunda imagen con efecto de hover -->
            <div class="lg:w-[20%] w-[45%] transition-transform duration-300 ease-in-out transform hover:scale-105 text-[#001037] relative group">
                <img src={pilaresAngularesA.src} alt="" class="rounded w-full h-auto transition-opacity duration-300 group-hover:opacity-50" />
                <span class="absolute lg:bottom-3 bottom-0 left-0 w-full text-[#000] text-center lg:text-xl text-lg px-2 leading-none">Pilares Angulares Anatómicos</span>
                <div class="absolute inset-0 flex flex-col justify-center items-center bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-white p-4">
                    <h3 class="lg:text-lg text-base mb-2 leading-none font-semibold">Pilares Angulares Atómicos</h3>
                    <ul class="space-y-2 lg:text-sm text-xs">
                        <li><a href="/productos/sistema-implantes/accesorios-p/restauracion-cementada/S2AD-Pilares-Angulares-Anatomicos-15" class="hover:underline">-S2AD - Pilares Angulares A. de 15°</a></li>
                        <li><a href="/productos/sistema-implantes/accesorios-p/restauracion-cementada/S2AD-Pilares-Angulares-Anatomicos-25" class="hover:underline">-S2AD - Pilares Angulares A. de 25°</a></li>
                </div>
            </div>
            
            <!-- Tercera imagen con efecto de hover -->
            <div class="lg:w-[20%] w-[45%] transition-transform duration-300 ease-in-out transform hover:scale-105 text-[#001037] relative group">
                <img src={pilaresRectos.src} alt="" class="rounded w-full h-auto transition-opacity duration-300 group-hover:opacity-50" />
                <span class="absolute lg:bottom-3 bottom-0 left-0 w-full text-[#000] text-center lg:text-lg text-lg px-2 leading-none">Pilares Rectos</span>
                <div class="absolute inset-0 flex flex-col justify-center items-center bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-white p-4">
                    <h3 class="text-lg font-semibold mb-2">Pilares Rectos</h3>
                    <ul class="space-y-2 lg:text-sm text-xs">
                        <li><a href="/productos/sistema-implantes/accesorios-p/restauracion-cementada/Pilar-Recto-S1D" class="hover:underline">-Pilar Recto S1D</a></li>
                        <li><a href="/productos/sistema-implantes/accesorios-p/restauracion-cementada/Pilar-Recto-S1AD" class="hover:underline">-Pilar Recto S1AD</a></li>
                        <li><a href="/productos/sistema-implantes/accesorios-p/restauracion-cementada/Pilar-Recto-S1ND" class="hover:underline">-Pilar Recto S1ND</a></li>
                        <li><a href="/productos/sistema-implantes/accesorios-p/restauracion-cementada/Pilar-Recto-S1WD" class="hover:underline">-Pilar Recto S1WD</a></li>
                        <li><a href="/productos/sistema-implantes/accesorios-p/restauracion-cementada/Pilar-Recto-S1W8D" class="hover:underline">-Pilar Recto S1W8D</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap lg:w-[90%] w-full justify-center gap-12 py-8">
            {restCementada.map((product) => (
                <div class="flex w-full md:w-[45%] flex-row md:flex-row items-center border gap-1 rounded">
                    <div class="w-[50%]">
                        <img src={product.image} alt={product.title} class="rounded w-full h-auto" />
                    </div>
                    <div class="flex flex-col w-[50%]">
                        <h2 class="text-lg font-semibold leading-none">{product.title}</h2>
                        <span class="lg:text-sm text-xs">{product.description}</span>
                        <div class="flex flex-col lg:text-sm text-xs gap-1">
                            <div><span class="font-semibold">Tipo de Conexión: </span>{product.connectionType}</div>
                            <div><span class="font-semibold">Material: </span>{product.material}</div>
                            <div><span class="font-semibold">Tallas/Longitudes: </span>{product.sizes}</div>
                            <div><span class="font-semibold">Instrucciones: </span>{product.instructions}</div>
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </section>
</Layout>
