---
import Layout from "../../../../../layouts/Layout.astro";
import { pilarS1TD } from "../restSobredentadura/restSobredentaduraData.astro";
import aPelotas from "../../../../../assets/Productos/implantes/accesoriosP/accPelotas.png";
import pilaresSL from "../../../../../assets/Productos/implantes/accesoriosP/pilaresSL.png";
import pilaresEF from "../../../../../assets/Productos/implantes/accesoriosP/pilaresEF.png";
---

<Layout title="Restauración Sobredentadura - Accesorios Protésicos - Dait Import">
    <section class="w-full flex flex-col items-center py-8 px-4 text-white bg-[#001037]">
        <div class="w-full text-3xl border-b text-center py-2">
            <h2>Restauración Sobredentadura</h2>
        </div>
        <div class="flex flex-wrap lg:w-[90%] w-full justify-center gap-12 py-8">
            <a href="/productos/sistema-implantes/accesorios-p/restSobredentadura/accesoriosPelotas" class="lg:w-[20%] w-[40%] transition-transform duration-300 ease-in-out transform hover:scale-105 text-[#001037] relative">
                <img src={aPelotas.src} alt="" class="rounded w-full" />
                <span class="absolute lg:bottom-3 bottom-0 left-0 w-full text-[#000] text-center lg:text-xl text-lg leading-tight px-2">Accesorios para Pelotas</span>
            </a>
            <a href="/productos/sistema-implantes/accesorios-p/restSobredentadura/pilaresSmartLock" class="lg:w-[20%] w-[40%] transition-transform duration-300 ease-in-out transform hover:scale-105 text-[#001037] relative">
                <img src={pilaresSL.src} alt="" class="rounded w-full" />
                <span class="absolute lg:bottom-3 bottom-0 left-0 w-full text-[#000] text-center lg:text-xl text-lg px-2 leading-tight">Pilares Smart-Lock</span>
            </a>
            <a href="/productos/sistema-implantes/accesorios-p/restSobredentadura/pilaresEasyFix" class="lg:w-[20%] w-[40%] transition-transform duration-300 ease-in-out transform hover:scale-105 text-[#001037] relative">
                <img src={pilaresEF.src} alt="" class="rounded w-full" />
                <span class="absolute lg:bottom-3 bottom-0 left-0 w-full text-[#000] text-center lg:text-xl text-lg px-2">Pilares Easy-Fix</span>
            </a>
        </div>
        <div class="flex flex-wrap w-[90%] border-t gap-12 py-8">
            {pilarS1TD.map((product) => (
                <div class="flex w-full md:w-[45%] flex-row md:flex-row items-center border gap-1 rounded">
                    <div class="w-[50%]">
                        <img src={product.image} alt={product.title} class="rounded w-full h-auto" />
                    </div>
                    <div class="flex flex-col w-[50%]">
                        <h2 class="text-lg font-semibold leading-none">{product.title}</h2>
                        <span class="lg:text-sm text-xs">{product.description}</span>
                        <div class="flex flex-col lg:text-sm text-xs pt-1">
                            <div><span class="font-semibold">Tipo de Conexión: </span>{product.connectionType}</div>
                            <div><span class="font-semibold">Material: </span>{product.material}</div>
                            <div><span class="font-semibold">Tallas/Longitudes: </span>{product.sizes}</div>
                            <div><span class="font-semibold">Instrucciones: </span>{product.instructions}</div>
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </section>
</Layout>
