---
import Layout from "../../../../../layouts/Layout.astro";
import a1dANALOG from "../../../../../assets/Productos/implantes/a1dAnalog.png";
---

<Layout title="Restauración Sobredentadura - Accesorios Protésicos - Dait Import">
    <section class="w-full flex flex-col items-center py-8 px-4 text-white bg-[#001037]">
        <div class="w-full text-2xl border-b text-center py-4">
            <h2>TAPAS CURATIVAS</h2>
        </div>
        <div class="flex flex-wrap w-[90%] justify-center gap-12 py-8">
            <a href="/productos/sistema-implantes/accesorios-p/tapas-curativas/tapaHAD" class="w-[30%]">
                <img src={a1dANALOG.src} alt="" class="rounded w-full h-auto" />
            </a>
            <a href="/productos/sistema-implantes/accesorios-p/tapas-curativas/tapaHWD" class="w-[30%]">
                <img src={a1dANALOG.src} alt="" class="rounded w-full h-auto" />
            </a>
            <a href="/productos/sistema-implantes/accesorios-p/tapas-curativas/tapaHW7D" class="w-[30%]">
                <img src={a1dANALOG.src} alt="" class="rounded w-full h-auto" />
            </a>
            <a href="/productos/sistema-implantes/accesorios-p/tapas-curativas/tapaHW8D" class="w-[30%]">
                <img src={a1dANALOG.src} alt="" class="rounded w-full h-auto" />
            </a>
            <a href="/productos/sistema-implantes/accesorios-p/tapas-curativas/tapaHND" class="w-[30%]">
                <img src={a1dANALOG.src} alt="" class="rounded w-full h-auto" />
            </a>
        </div>
    </section>
</Layout>
