---
import Layout from "../../../../../layouts/Layout.astro";
import tapaC_HAD from "../../../../../assets/Productos/implantes/accesoriosP/tapaC_HAD.png";
import tapaCA_HWD from "../../../../../assets/Productos/implantes/accesoriosP/tapaCA_HWD.png";
import tapaCA_HW7D from "../../../../../assets/Productos/implantes/accesoriosP/tapaCA_HW7D.png";
import tapaCA_HW8D from "../../../../../assets/Productos/implantes/accesoriosP/tapaCA_HW8D.png";
import tapaCE_HND from "../../../../../assets/Productos/implantes/accesoriosP/tapaCE_HND.png";
---

<Layout title="Restauración Sobredentadura - Accesorios Protésicos - Dait Import">
    <section class="w-full flex flex-col items-center py-8 px-4 text-white bg-[#001037]">
        <div class="w-full text-3xl border-b text-center py-2">
            <h2>TAPAS CURATIVAS</h2>
        </div>
        <div class="flex flex-wrap lg:w-[90%] w-full justify-center lg:gap-12 gap-6 py-8">
            <a href="/productos/sistema-implantes/accesorios-p/tapas-curativas/tapaHAD" class="lg:w-[20%] w-[45%] transition-transform duration-300 ease-in-out transform hover:scale-105 text-[#001037] relative">
                <img src={tapaC_HAD.src} alt="" class="rounded w-full h-auto" />
                <span class="absolute lg:bottom-3 bottom-0 left-0 w-full text-[#000] text-center lg:text-xl text-lg px-2 leading-none">Tapa de Cicatrización HAD</span>
            </a>
            <a href="/productos/sistema-implantes/accesorios-p/tapas-curativas/tapaHWD" class="lg:w-[20%] w-[45%] transition-transform duration-300 ease-in-out transform hover:scale-105 text-[#001037] relative">
                <img src={tapaCA_HWD.src} alt="" class="rounded w-full h-auto" />
                <span class="absolute lg:bottom-3 bottom-0 left-0 w-full text-[#000] text-center lg:text-xl text-lg px-2 leading-none">Tapa de Cicatrización Ancha HWD</span>
            </a>
            <a href="/productos/sistema-implantes/accesorios-p/tapas-curativas/tapaHW7D" class="lg:w-[20%] w-[45%] transition-transform duration-300 ease-in-out transform hover:scale-105 text-[#001037] relative">
                <img src={tapaCA_HW7D.src} alt="" class="rounded w-full h-auto" />
                <span class="absolute lg:bottom-3 bottom-0 left-0 w-full text-[#000] text-center lg:text-xl text-lg px-2 leading-none">Tapa de Cicatrización Ancha HW7D</span>
            </a>
            <a href="/productos/sistema-implantes/accesorios-p/tapas-curativas/tapaHW8D" class="lg:w-[20%] w-[45%] transition-transform duration-300 ease-in-out transform hover:scale-105 text-[#001037] relative">
                <img src={tapaCA_HW8D.src} alt="" class="rounded w-full h-auto" />
                <span class="absolute lg:bottom-3 bottom-0 left-0 w-full text-[#000] text-center lg:text-xl text-lg px-2 leading-none">Tapa de Cicatrización Ancha HW8D</span>
            </a>
            <a href="/productos/sistema-implantes/accesorios-p/tapas-curativas/tapaHND" class="lg:w-[20%] w-[45%] transition-transform duration-300 ease-in-out transform hover:scale-105 text-[#001037] relative">
                <img src={tapaCE_HND.src} alt="" class="rounded w-full h-auto" />
                <span class="absolute lg:bottom-3 bottom-0 left-0 w-full text-[#000] text-center lg:text-xl text-lg px-2 leading-none">Tapa de Cicatrización Estrecha HND</span>
            </a>
        </div>
    </section>
</Layout>
