---
import Layout from "../../../../../../layouts/Layout.astro";
import { pilaresA } from "../restauracionCData.astro";
---

<Layout title="Analógicos - Accesorios Protésicos - Dait Import">
    <section class="w-full flex flex-col items-center py-8 px-4 text-white bg-[#001037]">
        <div class="w-full text-3xl border-b text-center py-2">
            <h2>CARGA INMEDIATA</h2>
        </div>
        <div class="flex flex-wrap lg:w-[90%] w-full justify-center gap-12 py-8">
            {pilaresA.map((product) => (
                <div class="flex w-full md:w-[45%] flex-row md:flex-row items-center border gap-1 rounded">
                    <div class="w-[50%]">
                        <img src={product.image} alt={product.title} class="rounded w-full h-auto" />
                    </div>
                    <div class="flex flex-col w-[50%]">
                        <h2 class="text-lg font-semibold">{product.title}</h2>
                        <span class="text-sm">{product.description}</span>
                        <div class="flex flex-col text-sm gap-1">
                            <div><span class="font-semibold">Tipo de Conexión: </span>{product.connectionType}</div>
                            <div><span class="font-semibold">Material: </span>{product.material}</div>
                            <div><span class="font-semibold">Tallas/Longitudes: </span>{product.sizes}</div>
                            <div><span class="font-semibold">Instrucciones: </span>{product.instructions}</div>
                        </div>
                    </div>
                </div>
            ))}
        </div>
    </section>
</Layout>